html {
  height: 100%;
  width: 100%;
}
/* this is for the navigation bar and making it fixed as you scroll down the page */
.first{
  position: fixed;
  top:0px;
  width:100%;
  height:90px;
  background-color: rgb(243, 235, 220);
  z-index: 4;
}

/* this is the burger logo */
#logo{
  position: absolute;
  top:20px;
  left:670px;
  width:120px;
  height:65px;
  text-decoration: none;
  z-index: 3;

}
/* this is the order option */
#Order{
  position: absolute;
  top:40px;
  left:80px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(80, 35, 20);
  font-family: serif;
  font-weight: bolder;
}
/* this is the offers option */
#Offers{
  position: absolute;
  top:40px;
  left:160px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(80, 35, 20);
  font-family: serif;
  font-weight: bolder;
}
/* this is the menu option */
#Menu{
  position: absolute;
  top:40px;
  left:240px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(80, 35, 20);
  font-family: serif;
  font-weight: bolder;
}
/* this is the delivery option */
#Delivery{
  position: absolute;
  top:40px;
  left:320px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(80, 35, 20);
  font-family: serif;
  font-weight: bolder;
}
/* this is the more option */
#More{
  position: absolute;
  top:40px;
  left:420px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(80, 35, 20);
  font-family: serif;
  font-weight: bolder;
}
/* this is the for item avalability option */
#location1{
  position: absolute;
  top:40px;
  left:880px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(80, 35, 20);
  font-family: ebrima;
  font-weight: bolder;
}
/* this is the choose your location option */
#location2{
  position: absolute;
  top:43px;
  left:1060px;
  font-size: 16px;
  color: rgb(80, 35, 20);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}
/* this is the sign up option */
#sign-up{
  position: absolute;
  top:40px;
  left:1230px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  border: 1px rgb(202, 11, 6);
  background-color: rgb(202, 11, 6);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;  
}
/* this is the cart option */
#cart{
  position: absolute;
  top:40px;
  left:1340px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  border: 1px rgb(74, 37, 24);
  background-color: rgb(74, 37, 24);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;  
}

/* this is the brown bar just below the navbar*/
#nav-bar{
  background-color: rgb(80, 35, 20);
  height: 100px;
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 1;
}
/* this is the your burger king image in the brown bar */
#Your-Burger-King{
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: 2;
  height: 30px;
}
/* this is the welcome paragraph in the brown bar */
#Wecome-Message{
  position: absolute;
  top: 45px;
  left: 40px;
  z-index: 2;
  height: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* this is the learn more option in the brown bar */
#learn-more{
  text-decoration: none;
  color: white;
  position: absolute;
  top: 45px;
  left: 1370px;
  border: 1px solid white;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 15px;
  z-index: 2;
  box-shadow: 0px 0px 30px solid white;
  font-size: 14px;
  font-weight:900;
  font-family: Arial, Helvetica, sans-serif;
}
/* this is the learn more link in the brown bar */
#learn-more-link{
  position: absolute;
  top: 51px;
  left: 1375px;
  height: 17px;
  width: 17px;
}
